<li class="fields">
  <p>
    <%= f.text_field :ref, :size => 5 %>
    <%= f.text_area :text, :rows => 1 %>
    <%= f.label :correct, "Correct?" %>
    <%= f.check_box :correct %><br />
    <%= button_to_remove_fields "Remove Answer", f %>
  </p>
</li>
