<tr class="fields">
  <td><%= f.text_field :ref, :size => 5 %></td>
  <td><%= f.text_area :text, :rows => 1 %></td>
  <td><%= f.check_box :correct %></td>
  <td><%= f.check_box :anchored %></td>
  <td><%= button_to_remove_fields "Remove Answer", f %></td>
</tr>
