<tr class="fields">
  <td><%= f.text_field :ref, :size => 5 %></td>
  <td><%= f.text_area :text, :rows => 1 %></td>
  <td><%= f.check_box :correct %></td>
  <td><%= f.check_box :anchored %></td>
  <td><%= move_answer_control(f, "up") %></td>
  <td><%= move_answer_control(f, "down") %></td>
  <td><%= delete_answer_control(f, "delete") %></td>
</tr>
