<%= form_for @question do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all.sort, :id, :full_name, { include_blank: "Select a category" }  %>
  </p>
  <p>
    <%= f.label :prompt %><br />
    <%= f.text_area :prompt, rows: 3%>
  </p>
  <% # The test for "if @question.id" let me tell if the question has
     # been saved yet.  If it has just been created, but hasn't been saved
     # then the JS for adding / moving / deleting answers will not work
     # (because as it stands it assumes questions have ids so that answers
     # can be associated with them).
     #
     # That's probably the wrong way to do it, but it does mean that I get
     # something working.
  %>
  <% if @question.id %>
  <%= render partial: "edit_answers_table", locals: {f: f} %>
  <% end %>
  <p><%= f.submit %></p>
<% end %>
