<%= form_for @question do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all.sort, :id, :full_name, { :include_blank => "Select a category" }  %>
  </p>
  <p>
    <%= f.label :prompt %><br />
    <%= f.text_area :prompt, :rows => 3%>
  </p>
  <table class="edit_answers">
    <%= render :partial => "edit_answers_rows", :locals => {:f => f} %>
  </table>
  <p><%= add_answer_control(f, "Add an Answer") %></p>
  <p><%= f.submit %></p>
<% end %>
