<% title "Questions" %>

<% last_category = nil %>

<table>
  <% for question in @questions %>
    <% current_category = full_category(question) %>
    <% if current_category != last_category %>
      <% last_category = current_category %>
      <tr><td><span class="category_heading"><%= current_category %></span></td></tr>
    <% end %>
    <tr>
      <td><%= render question, :q => question %></td>
      <td><%= link_to "Show", question %></td>
      <td><%= link_to "Edit", edit_question_path(question) %></td>
      <td><%= link_to "Destroy", question, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Question", new_question_path %></p>
