<% title "Questions" %>

<% categorised_questions(@questions).each do |group| %>
  <div class="category_heading"><%= group[:full_category] %></div> 
  <table>
    <% group[:questions].each do |question| %>
      <tr>
        <td><%= render question, :q => question %></td>
        <td><%= link_to "Show", question %></td>
        <td><%= link_to "Edit", edit_question_path(question) %></td>
        <td><%= link_to "Destroy", question, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<p><%= link_to "New Question", new_question_path %></p>
