<% title "Questions" %>

<%= render "category_filter_form" %>

<% sorted_grouped_questions(@questions).each do |group| %>
  <div class="category_heading"><%= group[0].full_category_name %></div> 
  <table>
    <% group.each do |question| %>
      <tr>
        <td>
          <div class="question" id="question_<%= question.id %>">
            <%= render question,
              :prompt        => question.prompt,
              :answers       => question.answer_list
            %>
          </div>
        </td>
        <td class="non_printing">
          <%= button_to "Shuffle",
            { :id => question,
              :controller => :questions,
              :action => :shuffle_answers,
              :target_div_id => "question_#{question.id}",
            }, {:remote => true }
          %>
        </td>
        <td class="non_printing"><%= link_to "Show", question %></td>
        <td class="non_printing"><%= link_to "Edit", edit_question_path(question) %></td>
        <td class="non_printing"><%= link_to "Destroy", question, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<p class="non_printing"><%= link_to "New Question", new_question_path %></p>
