<% title "Question" %>

<p>
  Category: <%= @question.full_category_name %>
</p>

<div class="question" id="question_<%= @question.id %>">
<%= render 'question',
  :prompt  => @question.prompt,
  :answers => @answers
%>
</div>

<p>
  Added to database: <%= @question.created_at %><br/>
  Most recent change: <%= @question.changed_at %>
</p>

<p class="non-printing">
<%= link_to make_icon_tag("switch", :title => "Shuffle Answers"),
  { :id            => @question,
    :controller    => :questions,
    :action        => :shuffle_answers,
    :target_div_id => "question_#{@question.id}",
  }, {:remote => true }
%>
  <%= link_to make_icon_tag("edit", :title => "Edit question"), edit_question_path(@question) %> 
  <%= link_to make_icon_tag("trash", :title => "Delete question"), @question, :confirm => 'Are you sure?', :method => :delete %> 
  <%= link_to make_icon_tag("back", :title => "View all questions"), questions_path %>
</p>
